@sand: #ECEBE4;
@main: #EDAFB8;
@secondary: #B0C4B1;
@twitter: #55acee;
@facebook: #3b5998;
@instagram: #3f729b;

body {
	header {
		background-color: @sand;
		height: 75px;

		.topBarHolder {
			margin: 0 auto;
			width: 960px;
			height: 75px;
			color: white;
		}

		.header {
			margin: 0 auto;
			height: 75px;
			line-height: 25px;
			display: inline-block;
			padding-top: 12px;
			padding-bottom: 12px;

			img {
				border-radius: 25px;
				border-style: solid;
				border-color: black;
				border-width: 1px;
			}
			p {
				float: right;
				text-align: left;
				font-size: 1.1em;
			}

			b {
				color: @secondary;
			}

			.social {
				padding-top: 5px;
			}

			#twitter {
				color: @twitter;
			}
			
			#facebook {
				color: @facebook;
			}

			#instagram {
				color: @instagram;
			}
		}

	}

	#mastHead {
		height: 100%;
		width: 100%;
		overflow: hidden;
		min-height: 500px;
		max-height: 700px;
		background: url('../img/blurmountain.png') no-repeat center center fixed;
		background-size: cover;
		--webkit-backrgound-size: cover;
		position: relative;
		img {
			width: 100%;
		}

		#mast {
			color: white;

			p {
				vertical-align: middle;
			}
		}
	}
}