body header {
  background-color: #ecebe4;
  height: 75px;
  max-width: 100%;
  max-height: 100%;
}
body header .header {
  margin: 0 auto;
  line-height: 25px;
  display: inline-block;
  padding-top: 12px;
  padding-bottom: 12px;
}
body header .header img {
  border-radius: 25px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}
body header .header p {
  float: right;
  text-align: left;
  font-size: 1.1em;
}
body header .header b {
  color: #b0c4b1;
}
body header .header .social {
  padding-top: 5px;
}
body header .header #twitter {
  color: #55acee;
}
body header .header #facebook {
  color: #3b5998;
}
body header .header #instagram {
  color: #3f729b;
}
body #mastHead {
  height: 100%;
  width: auto;
  max-width: 100%;
  overflow: hidden;
  min-height: 800px;
  background: url('../img/blurmountain.png') no-repeat center;
  background-size: cover;
  --webkit-backrgound-size: cover;
  position: relative;
}
body .mast {
  position: relative;
  color: white;
  height: 100%;
}
body .mast .row {
  height: 100%;
}
body .mast .vertical-align {
  display: flex;
  align-items: center;
  flex-direction: row;
}
body .mast .description {
  color: #ecebe4;
  padding-right: 50px;
}
body .mast .description span {
  color: #b0c4b1;
}
body .mast img {
  height: inherit;
  width: inherit;
}
